.article_container{
	font-family: arial;
	font-family: 'Raleway', sans-serif;
}
.article_container p, .article_container li, .article_container i{
	font-size: var(--main-font-size);
	color: #333;
}
h1{
	text-align: center;
	line-height : 45px;
	margin-top: 140px;
	font-size: var(--main-title-font-size);
	margin-bottom: 10px;
	font-family: 'Archivo', serif;
}
.divider{
	background-color: #742E46;
	height: 3px;
	width: 130px;
	margin: auto;
	margin-bottom: 80px;
}
.main-text{
	line-height : 24px;
	margin-bottom: 30px;
	text-align: justify;
}
.services{
	margin-bottom: 10px;
}
.services_ul{
	list-style: none;
	padding-left: 15px;
}
.services_ul li{
	margin-bottom: 18px;
}
.form-of-care{
	margin-top: 45px;
	margin-bottom: 45px;
}
.end-description{
	display: block;
	margin-bottom: 10px;
}
.end-description--last{
	height: 80px;
}
.contact-form{
	color: #333;
	height: 500px;
	width: 900px;
	margin: auto;
	margin-bottom: 90px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;

}
.contact-form iframe{
	width: 60%
}
.contact-form__content{
	padding: 60px 0 60px 60px;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contact-form__content h2{
	font-size: var(--second-title-font-size);
	font-family: 'Archivo', serif;
}
.contact-form__content ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contact-form__content li{
	margin: 20px 0;
}
.contact-form__content li > div{
	background-color: #742E46;
	height: 3px;
	width: 50px;
	margin-top: 10px;
}
.contact-form__content span{
	font-size: var(--third-title-font-size);
	font-weight: 600;
}
/* @media */
@media (max-width: 1330px){
	.contact-form{
		flex-direction: column;
		width: 70vw;
		height: 90vw;
	}
	.contact-form__content{
		width: 100%;
		padding-left: 0;
	}
	.contact-form__content h2{
		margin: auto;
	}
	.contact-form__content ul{
		align-items: center;
		text-align: center;
	}
	.contact-form__content li > div{
		margin: auto;
		margin-top: 10px;
		width: 5vw;
	}
	.contact-form iframe{
		width: 100%;
		height: 50%;
	}
}
@media (max-width: 770px){
	.contact-form iframe{
		display: none;
	}
	.contact-form__content{
		height: 100%;
	}
	.contact-form{
		height: 500px;
		width: 70vw;
		min-width: 200px;
	}
}