.article_container{
	font-family: arial;
	font-family: 'Raleway', sans-serif;
}
h1{
	text-align: center;
	margin-top: 140px;
	font-size: 32px;
	margin-bottom: 10px;
	font-family: 'Archivo', serif;
}
.divider{
	background-color: #742E46;
	height: 3px;
	width: 100px;
	margin: auto;
	margin-bottom: 80px;
}

/*services-menu__item*/
.services-menu{
	margin-bottom: 100px;
}
.services-menu__item__content{
	background-color: #313131;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 60px;
	cursor: pointer;
}
.services-menu__item__content--par{
	background-color: #2f2f2f;	
}
.services-menu__item__content p{
	color: #fff;
	text-align: start;
	margin: 15px;
}
.services-menu__item__content img{
	width: 30px;
	height: 30px;
	margin: auto 10px auto 0;
	object-fit: cover;
}
.services-menu__item__content__img--rotate{
	transform: rotateZ(180deg);
}
.services-menu__content{
	display: none;
	background-color: #313131;
	color: #fff;
	padding:  10px 40px 25px;
}
.services-menu__content p{
	color: #ccc;
	line-height : 22px;
	margin-bottom: 25px;
}
.services-menu__content ul{
	color: #ccc;
	padding: 0;
	list-style: none;
	margin-bottom: 30px;
}
.services-menu__content--par{
	background-color: #2F2F2F;
}
.services-menu__content--active{
	display: block;
}