:root{
	/*font-size*/
	--main-title-font-size: 32px; /*32px*/
	--second-title-font-size: 24px; /*24*/
	--third-title-font-size: 21px; /*21*/
	--main-font-size: 17px; /*17*/
}

article{
	min-height: calc(100vh - 100px - 50px - 400px);
	max-width: 1200px;
	width: 70vw;
	margin: auto;
}
.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
*{
	margin: 0;
	scroll-behavior: smooth;
}
header{
	position: sticky;
	top: 0px;
	width: 100%;
	background-color: #742E46f5;
}
nav{
	max-width: 1200px;
	width: 70vw;
	margin: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}
nav > a{
	width: 80px;
	height: 80px;
}
nav > a > img{
	background-color: #fff;
	height: 100%;
	border-radius: 5%;
	margin: auto;
}
#nav_menu{
	display: none;
	width: 45px;
	cursor: pointer;
}
.nav_menu-list{
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.expand-nav_menu-list{
	background-color: #742E46f5;
	position: absolute;
	right: 0;
	top: 100px;
	height: calc(100vh);
	min-width: 250px;
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 20px 0 0 20px;
}
.nav_menu-list > li > a, .expand-nav_menu-list > li > a{
	color: #fff;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: var(--second-title-font-size);
	margin-left: 10px;
	padding: 0 10px;
	border-color: transparent;
	transition: border-color .4s;
}
.expand-nav_menu-list > li{
	margin-bottom: 30px;
}
.nav_li--current{
	padding: 8px 10px !important;
	border-bottom: 4px solid;
	border-color: #fff !important;
}
.nav_menu-list > li > a:hover{
	padding: 8px 10px;
	border-bottom: 4px solid;
	border-color: #fff;
}

/*footer*/
footer{
	background-color: #1D2324;
}
.footer_container{
	max-width: 1200px;
	width: 70vw;
	margin: auto;
	padding-top: 60px;
	height: 340px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.footer_container h4{
	font-size: var(--third-title-font-size);
	margin: 0 0 10px 0;
	font-weight: 300;
	font-family: 'Archivo', serif;
}
.footer_mision{
	width: 360px;
	margin-right: 20px;
}
.footer_mision p{
	font-size: var(--main-font-size);
	font-family: 'Raleway', sans-serif;
}
.footer_navegacion{
	width: 180px;
	margin-right: 20px;
	list-style: none;
}
.footer_navegacion li a{
	color: #742E46;
	font-family: 'Raleway', sans-serif;
	font-size: var(--main-font-size);
	text-decoration: none;
}
.footer_navegacion ul{
	list-style: none;
	padding: 0;
}
.footer_datos-de-contacto{
	width: 320px;
}
.footer_datos-de-contacto ul{
	list-style: none;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.footer_datos-de-contacto li{
	margin-bottom: 6px;
	font-size: var(--main-font-size);
}
.footer_datos-de-contacto span{
	font-weight: 600;
}
.footer_datos-de-contacto p{
	display: inline;
}

/*page-floor*/
.page-floor{
	background-color: #111516;
}
.page-floor_container{
	max-width: 1200px;
	width: 70vw;
	margin: auto;

	color: #fff;
	font-family: arial;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.page-floor_container > p{
	font-size: var(--main-font-size);
}
.page-floor_container > div{
    font-family: 'Open Sans', sans-serif;
	font-size: var(--main-font-size);
}
.page-floor_container > div a{
	margin-left: 5px;
	color: #888;
	text-decoration: none;
}

/* @media */
@media (max-width: 950px){
	nav{
		height: 80px;
	}
	.expand-nav_menu-list{
		top: 80px;
		height: calc(100vh - 80px);
	}
	nav > a{
		width: 60px;
		height: 60px;
	}
	#nav_menu{
		display: block;
	}
	.nav_menu-list{
		display: none;
	}
}
@media (max-width: 360px){
	nav{
		height: 70px;
	}
	.expand-nav_menu-list{
		top: 70px;
		height: calc(100vh - 70px);
	}
	nav > a{
		width: 40px;
		height: 40px;
	}
	#nav_menu{
		width: 30px;
	}
}
@media (max-width: 750px){
	:root{
		/*font-size*/
		--main-title-font-size: 25px; /*32px*/
		--second-title-font-size: 18px; /*24*/
		--third-title-font-size: 16px; /*21*/
		--main-font-size: 13px; /*17*/
	}	
}
@media (max-width: 665px){
	.footer_container{
		flex-direction: column;
		padding-bottom: 50px;
	}
	.footer_mision{
		width: 100%;
	}
	.footer_navegacion{
		width: 100%;
	}
	.footer_datos-de-contacto{
		width: 100%;
	}
	.page-floor_container > p{
		margin-right: 10px;
	}
}